/* TODO: import web font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #5e91f8;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

body * + * {
  margin-top: 1em;
}

.kontainer {
  width: 500px;
  margin: 0 auto;
}

header h1 {
  margin-bottom: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
}

.kartu {
  padding: 3em;
  background-color: #fff;
  border-radius: .5em;
  box-shadow: 0 5px 15px -10px #000;
}

.login input,
.login button {
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: .3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  /* font-weight: 600; */
}

.login input {
  border: solid 1px #ced3e0;
}

.login input::placeholder {
  color: #ced3e0;
}

.login button {
  margin-top: 1.5em;
  border: none;
  background-color: #5e91f8;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

footer {
  margin-top: 2em;
  font-weight: 300;
}

footer .lupa-pass {
  float: left;
}

footer .daftar {
  float: right;
  margin-top: 0;
}

footer::after {
  display: block;
  clear: both;
  content: " "
}

.lupa-pass a {
  color: #fff;
  text-decoration: none;
}

.daftar a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
